body {
  color: rgb(255, 255, 255);
  -webkit-text-stroke: black 0.1mm;
  font-family: 'Tektur', cursive;
  background: url(https://catherineasquithgallery.com/uploads/posts/2021-02/1614395328_56-p-temnii-vecher-fon-71.jpg)
  
}

a { 
color:rgb(45, 157, 223);
}

#name {
    background-color: rgba(0, 0, 0, 0.007);
    
}

.menu{
    color: rgba(0, 0, 255, 0.479);
}

.btn {
    background-color: #ddd;
    color: rgb(255, 0, 0);
    padding: 10px 20px;
    padding-top: 1mm;
    font-size: 13px;
    margin: 4px 2px;
    transition: 0.3s;
    border-radius: 10%;
  }
  
  .btn:hover {
    background-color: #0400ff18;
    color: rgb(255, 0, 0);
  }

  #backbut {
    border: 1px dashed;
    cursor: pointer;
  }
  
  #donate {
    font-size: 40px;
  }

  a {
    font-family: "Tektur", cursive;
  }

  #textprog {
    margin-top: -2%;
  }

  #info {
      border: 3px solid #000000; background-color: #0000006b; padding-bottom: 2%;
  }

  #forprog {
    border: 3px solid #000000; background-color: #0000006b; padding: 9px;
  }

  #youtube {
    -moz-box-shadow:0 0 20px #000;
-webkit-box-shadow:0 0 16px #000;
box-shadow:0 0 12px #000;
  }

  #ops {
    padding-top:10%
  }

  #logo {
    vertical-align: top;
  }
  
  .pillars {
      margin: 20px 0 0 0;
      display: grid;
      grid-template-columns: repeat(2, minmax(auto, 1fr));
      grid-column-gap: 5px;
      grid-row-gap: 5px;
      background: #0000009c;
      padding: 20px;
      backdrop-filter: blur(25px);
  }
  .cnt-lnk {
      padding: 5px;
  }
  .cnt-lnk:hover {
      cursor: pointer;
      background-color: #ffffff15;
  }
  .cnt-lnk:active {
      background-color: #ffffff10;
  }
  .cnt-txt {
      display: flex;
      height: 100%;
      width: 100%;
      flex-direction: column;
      transition: all 0.1s ease-in-out;
  }
  .cnt-txt:active {
      opacity: 0.6;
      transition: all 0.1s ease-in-out;
      transform: scale(0.96);
  }
  .cnt-main-txt {
     color: white;
      font-size: 20px;
      font-weight: normal;
      padding: 5px;
  }
  .cnt-info-txt {
      color: #ffffff70;
      font-weight: normal;
      font-size: 16px;
      padding: 5px;
  }